<html>
    <head>
        <title>Marina's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Marina's blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href=""><strong>I love vegan food!</strong></a></h2>
            <p>I'm cool with programming too. It's not too bad!</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">Hello there! This is my blog!</a></h2>
            <p>When you make mistakes, that's when you learn the most!</p>
        </div>
    </body>
</html>